.default {
    width:30px;
    height:30px;
    margin-left: 5px;
}
.default:hover {
    transition: 1s;
    color: cyan;
}
.disabled{
    width:30px;
    height:30px;
    margin-left: 5px;
    pointer-events: none;
    color: transparent;
}
.select{
    color: cyan;
    width:30px;
    height:30px;
    margin-left: 5px;
    pointer-events: none;
}

.orangeCircle {
    transition: 1s;
    background-color:orange;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}
.orangeCirclePages{
    width:30px;
    height:30px;
    margin-left: 5px;
}
.orangeCirclePages:hover{
    transition: 1s;
    background-color:gray;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}
.orangeCircle:hover{
    transition: 1s;
    background-color: gray;
}

.purpleCircle {
    transition: 1s;
    background-color:#6B46C1;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}
.purpleCirclePages{
    width:30px;
    height:30px;
    margin-left: 5px;
}
.purpleCirclePages:hover{
    transition: 1s;
    background-color:gray;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}
.purpleCircle:hover{
    transition: 1s;
    background-color: gray;
}

.blueCircle {
    transition: 1s;
    background-color:blue;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}
.blueCirclePages{
    width:30px;
    height:30px;
    margin-left: 5px;
}
.blueCirclePages:hover{
    transition: 1s;
    background-color:gray;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}
.blueCircle:hover{
    transition: 1s;
    background-color: gray;
}

.redCircle {
    transition: 1s;
    background-color:red;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}

.redCircle:hover{
    transition: 1s;
    background-color: gray;
}

.redCirclePages{
    width:30px;
    height:30px;
    margin-left: 5px;
}
.redCirclePages:hover{
    transition: 1s;
    background-color:gray;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}

.greenCircle {
    transition: 1s;
    background-color:green;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}

.greenCircle:hover{
    transition: 1s;
    background-color: gray;
}

.greenCirclePages{
    width:30px;
    height:30px;
    margin-left: 5px;
}
.greenCirclePages:hover{
    transition: 1s;
    background-color:gray;
    margin-left: 5px;
    border-radius:50%;
    width:30px;
    height:30px;
}
